.title{
    height: 180px;
    background-image: url('../../../public/Img/2998.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

